* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url(../Images/PortadaBuckethead.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    align-content: center;
}

.container-div {
    text-align: start;
    width: 700px;
    height: 300px;
    padding: 50px;
    display: block;
}

.boton {
    border-radius: 100%;
}

.nav {
    display: flex;
    padding: 15px;
    height:80px;
    width: 100%;
    justify-content: space-between;  
    text-align: center; 
    border: solid;
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
}

.nav-link {
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    
}

.importantstuff {
    padding-left: 20%;
}

.articleimg {
    display: flex;
    justify-content: center;
}

.articleimg img {
    border-radius: 10%;
    width: 920px;
    border: groove;
}

.googmap {
    padding-top: 30px;
    width: 200px;
    height: 200px;
}

h1 {
    color: rgb(255, 228, 196);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    position: relative;
    left: 50px;
}

h2 {
    color: rgb(200, 30, 30);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
    border: solid;
    border-color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
}

h3 {
    color: rgb(255, 228, 196);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.div-parrafos {
    padding: 50px;
}

.extra {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fecha {
    text-align: center;
}

.fecha img {
    padding-top: 30px;
    width: 200px;
    height: 200px;
}

.fecha p {
    text-align: center;
}

.mapa {
    text-align: center;
}

p {
    color: rgb(255, 228, 196);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: oblique;
}

.parrafoprincipal {
    color: rgb(255, 228, 196);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: oblique;
    position: relative;
    text-align: center;
}

.formulario {
    padding: 100px;
    text-align: center;
}

label {
    color: rgb(255, 228, 196);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    
}

body {
    background-color: #18191a;
}

footer {
    padding: 50px;
    background-color: beige;
    text-align: center;
}

footer p {
    color: rgb(200, 30, 30);
}

footer img {
    border-radius: 100%;
    object-fit: cover;
}

.irpariba{
    font-size: 20px;
}

@media (max-width:920px) {
    .nav {
        display: flex;
    }

    .container-div {
        text-align: start;
        width: 300px;
        height: 300px;
        padding: 50px;
        display: block;
    }

    h1 {
        left: 0px;
    }
    
    .articleimg img {
        width: 580px;
    }

    .extra {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:620px) {
    .articleimg img {
        width: 480px;
    }
}

@media (max-width:500px) {
    .articleimg img {
        width: 300px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }
    
    p {
        font-size: 16px;
    }    
}

/*
htmlimagenes
*/

.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'caja1 caja1 caja2 caja2'
    'caja3 caja4 caja4 caja5'
    'caja6 caja6 caja7 caja7'
    'caja8 caja8 caja8 caja8';
    padding: 10px;
    gap: 10px;
}

.box-item {
    background-color: rgb(200, 30, 30);
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    max-height: 100%;
    font-size: 2rem;
    border: groove;
}

.box-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c1 {
    grid-area: caja1;
}

.c2 {
    grid-area: caja2;
}

.c3 {
    grid-area: caja3;
}

.c4 {
    grid-area: caja4;
}

.c5 {
    grid-area: caja5;
}

.c6 {
    grid-area: caja6;
}

.c7 {
    grid-area: caja7;
}

.c8 {
    grid-area: caja8;
    height: 1000px;
}

/*
htmlvideos
*/

.videos {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:1160px) {
    .videos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

@media (max-width:620px) {   
    .videos iframe {
        height: 300px;
        width: 300px;
    }
}

/*
htmlAlbums
*/

h4 {
    color: rgb(255, 228, 196);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

h5 {
    color: rgb(255, 228, 196);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.Albums {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    padding: 20px;
    gap: 20px;
}

.album-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.album-box img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

lu {
    padding: 20px;
}

@media (max-width:680px) {
    .album-box img {
        width: 290px;
        height: 290px;
    }
    .Albums {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        padding: 20px;
        gap: 20px;
    }
    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }
}

/*
htmlbonus
*/

.bonusimage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}

.bonusimage img {
    border-radius: 100%;
    object-fit: cover;
}

.bonusarticle {
    padding: 20px;
    max-width: 600px;
    max-height: 100%;
}

.bonusvideo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}

.bonusvideo iframe {
    padding: 20px;
}

.bonusarticle2 {
    padding: 20px;
    max-width: 600px;
    max-height: 100%;
}

@media (max-width:920px) {
    .bonusimage {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }   
    .bonusvideo {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }    
}

@media (max-width:620px) {
    .bonusvideo iframe {
        width: 300px;
        height: 300px;
    }
}
