footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 50px;
    background-color: $light-color;
    border: $borders;
    .redes {
        display: flex;
        flex-direction: row;
        gap: 15px;
        img {
            @include img(27px,27px,cover);
            border-radius: 100%;
        }  
    }
    .footerparrafo {
        color: $shadow-color;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .irpariba {
        border-radius: 25px;
        border: solid;
        padding: 15px;
        background-color: $shadow-color;
        width: 200px;
        transition: 0.5s;
        &:hover {
            padding: 20px;
            width: 250px; 
        }
    }
    .irpariba a{
        font-size: 20px;
        color: $h2-titles-color;
        text-decoration: none;
    }
}