$main-color: #18191a;
$light-color: beige;
$dark-color: midnightblue;
$shadow-color: rgb(200, 50, 50);
$h2-titles-color: black;
$cards-color: midnightblue;
$borders: groove;
$titles-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;