.bonus-section {
    @include flex(column,none,none,20px);
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.bonusimage {
    @include flex(row,space-evenly,none,none);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
    background-color: $cards-color;
    border: $borders;
    border-radius: 25px;
    img {
        @include img(300px,300px,cover);
        border-radius: 100%;
        border: $borders;
    }
    .bonusarticle {
        padding: 20px;
        max-width: 600px;
        max-height: 100%;
    }
}
.bonusvideo {
    @include flex(row,space-evenly,none,none);
    padding: 50px;
    background-color: $cards-color;
    border: $borders;
    border-radius: 25px;
    iframe {
        padding-top: 50px;
        width: 550px;
        height: 400px;
    }
    .bonusarticle2 {
        padding: 20px;
        max-width: 600px;
        max-height: 100%;
    }
    .bonus-section {
        @include flex(column,none,none,none);
        padding: 20px;
    }
}