.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'caja1 caja1 caja2 caja2'
    'caja3 caja4 caja4 caja5'
    'caja6 caja6 caja7 caja7';
    padding: 40px;
    gap: 40px;
    .box-item {
        @include flex(none,center,center,none);
        width: 100%;
        min-height: 500px;
        max-height: 100%;
        border: $borders;
        box-shadow: 10px 10px 10px $shadow-color;
        transition: 1s;
        border-radius: 25px;
    }
    .box-item img {
        @include img(100%,100%,cover);
        border-radius: 25px;
    }
    .c1 {
        grid-area: caja1;   
    }
    .c2 {
        grid-area: caja2;
    }
    .c3 {
        grid-area: caja3;
    }
    .c4 {
        grid-area: caja4;
    }
    .c5 {
        grid-area: caja5;
    }
    .c6 {
        grid-area: caja6;
    }
    .c7 {
        grid-area: caja7;
    }
}
.box-item:hover {
    box-shadow: 10px 10px 10px $light-color;
}