.contenedor {
    background-image: url(../Images/Portada.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    align-content: center;
}
.encavbezado {
    text-align: start;
    width: 700px;
    height: 300px;
    padding: 50px;
    display: block;
    }
.articleimg {
    padding: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
        width: 1000px;
    }
    img {
        object-fit: cover;
        border-radius: 25px;
        width: 420px;
        height: 550px;
        border: groove;
        box-shadow: 8px 8px 10px rgb(200, 50, 50);
        transition: 1s;
        &:hover {
            box-shadow: 8px 8px 10px beige;
        }
    }
}
.articleimg2 {
    padding: 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    div {
        width: 1000px;
    }
    img {
        object-fit: cover;
        border-radius: 25px;
        width: 420px;
        height: 550px;
        border: groove;
        box-shadow: 8px 8px 10px rgb(200, 50, 50);
        transition: 1s;
        &:hover {
            box-shadow: 8px 8px 10px beige;
        }
    }
}
.googmap {
    padding-top: 30px;
    width: 200px;
    height: 200px;
}
h1 {
    color: rgb(255, 228, 196);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    position: relative;
    left: 50px;
}
h2 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: beige;
    border: solid;
    padding: 40px;
}
h3 {
    color: rgb(255, 228, 196);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.div-parrafos {
    padding: 50px;
}
.extra {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}
.fecha {
    text-align: center;
    width: 400px;
    height: 400px;
    padding: 15px;
    background-color: midnightblue;
    border: groove;
    border-radius: 25px;
    .fecha p {
        text-align: center;
    }
}
.fecha img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    padding: 20px;
}
.mapa { 
    text-align: center;
    width: 400px;
    height: 400px;
    padding: 15px;
    background-color: midnightblue;
    border: groove;
    border-radius: 25px;   
    } 
.googmap {
        padding: 20px;
        width: 260px;
        height: 200px;
    }
p {
    color: rgb(255, 228, 196);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: oblique;
}
.div-parrafos p {
    color: rgb(255, 228, 196);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style:normal;
    position: relative;
}
.formparrafo {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 700px;
    height: 300px; 
}
.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 100px;
    text-align: center;
    align-items: center;
    label {
        color: rgb(255, 228, 196);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        text-align: center;
    }
    button {
        width: 100px;   
    }
}