.contenedor {
    background-image: url(../images/BcuketheadHeader.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    align-content: center;
}
.encavbezado {
    text-align: start;
    width: 100%;
    height: 100%;
    padding: 50px 200px 50px 950px;
    p {
        color: bisque;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
}
body {
    background-color: $main-color;
}
h1 {
    color: bisque;
    font-family: $titles-font;
    font-size: 50px;
    padding-left: 25px;
    font-weight: bold;
}
h2 {
    color: $h2-titles-color;
    font-family: $titles-font;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: $light-color;
    border: solid;
    padding: 40px;
}
h3 {
    color: $light-color;
    font-family: $titles-font;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.articleimg {
    @include flex(row,space-evenly,center,20px);
    padding: 50px;
    div {
        width: 1000px;
    }
    img {
        @include img(420px,550px,cover);
        border-radius: 25px;
        border: $borders;
        box-shadow: 8px 8px 10px $shadow-color;
        transition: 1s;
        &:hover {
            box-shadow: 8px 8px 10px $light-color;
            width: 460px;
            height: 590px;
        }
    }
}
.articleimg2 {
    @include flex(row-reverse,space-evenly,center,20px);
    padding: 50px;
    div {
        width: 1000px;
    }
    img {
        @include img(420px,550px,cover);
        border-radius: 25px;
        border: $borders;
        box-shadow: 8px 8px 10px $shadow-color;
        transition: 1s;
        &:hover {
            box-shadow: 8px 8px 10px $light-color;
            width: 460px;
            height: 590px;
        }
    }
}
.googmap {
    padding-top: 30px;
    width: 200px;
    height: 200px;
}

.div-parrafos {
    padding: 40px;
}
.extra {
    @include flex(row,space-evenly,none,none);
    padding: 50px;
}
.fecha {
    text-align: center;
    width: 400px;
    height: 400px;
    padding: 15px;
    background-color: $cards-color;
    border: $borders;
    border-radius: 25px;
    .fecha p {
        text-align: center;
    }
}
.fecha img {
    @include img(200px,200px,cover);
    border-radius: 100%;
    padding: 20px;
}
.mapa { 
    text-align: center;
    width: 400px;
    height: 400px;
    padding: 15px;
    background-color: $cards-color;
    border: $borders;
    border-radius: 25px;   
    } 
.googmap {
        padding: 20px;
        width: 260px;
        height: 200px;
}
p {
    color: $light-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: oblique;
}
.div-parrafos p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style:normal;
    position: relative;
}
.formparrafo {
    @include flex(none,center,center,none);
    justify-content: center;
    text-align: center;
    width: 700px;
    height: 300px; 
}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    padding: 100px;
    
    label {
        color: $light-color;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        text-align: center;
    }
    button {
        width: 100px;   
    }
}