//header//

@media (max-width:1500px) {
    .encavbezado {
        padding: 50px 100px 50px 725px;
    }
}
@media (max-width:1190px) {
    .encavbezado {
        padding: 50px 50px 50px 525px;
    }
}
@media (max-width:950px) {
    .encavbezado {
        padding: 20px 20px 20px 425px;
    }
    h1 {
        padding-left: 0px;
    }
}
@media (max-width:760px) {
    .encavbezado {
        padding: 10px 50px 10px 300px;
    }
    h1 {
        font-size: 40px;
    }
}
@media (max-width:580px) {
    .encavbezado {
        padding: 50px 50px 10px 220px;
    }
}
@media (max-width:480px) {
    .encavbezado {
        padding: 50px 50px 10px 180px;
    }
}
@media (max-width:440px) {
    .encavbezado {
        padding: 50px 20px 10px 140px;
    }
}
@media (max-width:400px) {
    .encavbezado {
        padding: 100px 10px 10px 100px;
    }
}
@media (max-width:360px) {
    .encavbezado {
        padding: 150px 10px 10px 40px;
    }
}

//index//

@media (max-width:920px) {
    .articleimg {
        @include flex(column-reverse,space-evenly,center,20px);
        div {
            width: 580px;
        }
    }
    .articleimg2 {
        @include flex(column,space-evenly,center,20px);
        div {
            width: 580px;
        }
    }
    .extra {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;  
    }
}
@media (max-width:600px) {
   .articleimg {
        div {
            width: 300px;
        }
    }
    .articleimg2 {
        div {
            width: 300px;
        }
    } 
}
@media (max-width:480px) {
    .articleimg {
        img {
            @include img(300px,430px,cover);
            &:hover {
                width: 320px;
                height: 450px;
            }
        }
    }
    .articleimg2 {
        img {
            @include img(300px,430px,cover);
            &:hover {
                width: 320px;
                height: 450px;
            }
        }
    }
}
@media (max-width:620px) {  
    .fecha {
        width: 300px;
        height: 300px;
    }
    .fecha img {
        @include img(150px,150px,cover);
    }
    .mapa { 
        width: 300px;
        height: 400px;
    }
    .googmap {
        padding: 20px;
        width: 240px;
        height: 180px;
    }
}
@media (max-width:500px) {
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }    
}

//imagenes//

@media (max-width:920px) {
    .box {
        @include flex(column,none,none,none);
    }
}
@media (max-width:860px){
    .box-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .c1 {
        grid-area: caja1;
        height: 500px;   
    }
    .c2 {
        grid-area: caja2;
        height: 500px;
    }
    .c3 {
        grid-area: caja3;
        height: 500px;
    }
    .c4 {
        grid-area: caja4;
        height: 500px;
    }
    .c5 {
        grid-area: caja5;
        height: 500px;
    }
    .c6 {
        grid-area: caja6;
        height: 500px;
    }
    .c7 {
        grid-area: caja7;
        height: 500px;
    }
    .c8 {
        grid-area: caja8;
        height: 500px;
    }
}

//videos//

@media (max-width:1160px) {
    .videos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}
@media (max-width:620px) {   
    .videos iframe {
        height: 300px;
        width: 300px;
    }
}

//albums//

@media (max-width:760px) {  
    .album-box {
        max-width: 300px; 
        img {
            @include img(290px,290px,cover); 
        }
        summary {
            width: 280px;
        }
    }  
    h4 {
        font-size: 24px;
    }
}

//bonus//

@media (max-width:920px) {
    .bonusimage {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }   
    .bonusvideo {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }    
}
@media (max-width:680px) {
    .bonus-section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .bonusvideo iframe {
        width: 280px;
        height: 280px;
    }
}
@media (max-width:480px) {
    .bonusimage img {
        @include img(225px,225px,cover);
    }
}